<div *ngIf="isLoading" class="content-container">
  <div class="loading-message">
    <div class="spinner"></div>
    <span class="loading-text">Loading</span>
  </div>
</div>


<div class="calendar-container" *ngIf="!isLoading">
  <div class="calendar">
    <div class="header">
      <div class="title-section">
        <h1>My Calendar <span class="date">{{ currentMonth }}</span></h1>
      </div>
      <div class="button-section">
        <button (click)="prevMonth()">&#10508;</button>
        <button (click)="nextMonth()">&#10509;</button>
      </div>
    </div>
    <table>
      <thead>
      <tr>
        <th *ngFor="let day of ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']">
          {{ day }}
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let week of days">
        <td class="day-number"
            [class.filler-day]="day.isFiller"
            *ngFor="let day of week"
            [attr.id]="isCurrentDay(day) ? 'current-day' : null"
            (click)="onDayClick(day)">
          {{ day.date }}
          <div class="hebrew-date">{{ day.hebrewDate }}</div>
          <div *ngFor="let task of day.tasks">
            <span class="task-dot" [title]="task.title"></span>
            <div class="task-square" [style.background]="getColorForCategory(task.category)"></div>
          </div>
          <div class="task-count-container">
            <div class="task-count" *ngFor="let task of day.tasks" [style.background]="getColorForCategory(task.category)" [title]="task.name"></div>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<app-tasks-popup
  [showPopup]="showPopup"
  [selectedDay]="selectedDay"
  [tasks]="selectedDayTasks"
  (close)="showPopup = false">
</app-tasks-popup>
