<div *ngIf="isOpen" id="sidebar" class="sidebar">
  <div class="button-container">
    <button type="button" class="calendar-button" (click)="navigateToCalendar()"><fa-icon [icon]="faCalendar"></fa-icon> My Calendar</button>
    <button type="button" (click)="navigateToNewEvent()"><fa-icon [icon]="faPlus"></fa-icon> New Event</button>
    <button type="button" ><fa-icon [icon]="faPlus"></fa-icon> New Plan</button>
    <button type="button" (click)="navigateToStatistics()"><fa-icon [icon]="faChartBar"></fa-icon> Statistics</button>
    <button type="button"><fa-icon [icon]="faCog"></fa-icon> Settings</button>
    <button type="button"><fa-icon [icon]="faQuestionCircle"></fa-icon> Help</button>
    <button class="signout-button" (click)="signOut()" [disabled]="isSignOutDisabled"><fa-icon [icon]="faSignOutAlt"></fa-icon> Logout</button>
  </div>
</div>
