<div class="container">
  <div class="create-event-container">
  <h1>Create an Event</h1>
  <form [formGroup]="eventForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <div class="inline-group">
        <label for="name">Name of the event:</label>
        <input formControlName="name" type="text" id="name" required>
      </div>
    </div>

    <div class="form-group">
      <div class="inline-group">
        <label for="priority">Priority:</label>
        <div id="priority" class="priority-container"></div>
        <input type="hidden" formControlName="priority" id="priority-value" required>
      </div>
    </div>


    <!-- Flexibility Section -->
    <div class="form-group">
      <div class="inline-group">
        <label>Flexibility:</label>
        <div *ngFor="let option of flexibilityOptions">
          <input type="radio" [id]="'flexibility-' + option.value" [value]="option.value" formControlName="flexibility" required>
          <label [for]="'flexibility-' + option.value" class="radio-label">{{ option.label }}</label>
        </div>
      </div>
    </div>

<!--    &lt;!&ndash; Flexibility: Yes &ndash;&gt;-->
<!--    <div [style.display]="eventForm.get('flexibility')?.value === 'yes' ? 'block' : 'none'" class="flexibility-options">-->
<!--      <div class="form-group" formGroupName="dateRange">-->
<!--        <div class="inline-group">-->
<!--          <label for="date-range-from">Set date (range): From:</label>-->
<!--          <input type="date" id="date-range-from" formControlName="from" required>-->
<!--          <label for="date-range-until">Until:</label>-->
<!--          <input type="date" id="date-range-until" formControlName="until" required>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="form-group">-->
<!--        <label for="whole-day-yes">Set time (range):</label>-->
<!--        <input type="checkbox" id="whole-day-yes" formControlName="wholeDay">-->
<!--        <label for="whole-day-yes" class="checkbox-label">Whole day</label>-->
<!--        <div *ngIf="!eventForm.get('wholeDay')?.value" formGroupName="timeRange">-->
<!--          <div class="inline-group">-->
<!--            <label for="time-range-from">From:</label>-->
<!--            <input type="time" id="time-range-from" formControlName="from" required>-->
<!--            <label for="time-range-until">Until:</label>-->
<!--            <input type="time" id="time-range-until" formControlName="until" required>-->
<!--            <div class="inline-group">-->
<!--              <label for="total-time-needed">Total time needed:</label>-->
<!--              <input type="time" id="total-time-needed" formControlName="totalTimeNeeded" required>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

    <!-- Flexibility: No -->
    <div *ngIf="eventForm.get('flexibility')?.value === 'no'">
      <div class="form-group">
        <div class="inline-group">
          <label for="set-date">Set date:</label>
          <input type="date" id="set-date" formControlName="start_date" required>
        </div>
      </div>
      <div class="form-group">
        <label for="whole-day-no">Set time:</label>
        <input type="checkbox" id="whole-day-no" formControlName="whole_day">
        <label for="whole-day-no" class="checkbox-label">Whole day</label>
        <div *ngIf="!eventForm.get('wholeDay')?.value" formGroupName="setTime">
          <div class="inline-group" *ngIf="eventForm.get('whole_day')?.value !== null && !eventForm.get('whole_day')?.value">
            <label for="time-from">From:</label>
            <input type="time" id="time-from" formControlName="from" required>
            <label for="time-until">Until:</label>
            <input type="time" id="time-until" formControlName="until" required>
          </div>
        </div>
      </div>

      <!-- Repeat Section -->
      <div class="form-group">
        <label for="repeat">Repeat:</label>
        <input type="checkbox" id="repeat" formControlName="repeat">
        <label for="repeat" class="checkbox-label">Repeat</label>
        <div *ngIf="eventForm.get('repeat')?.value" formGroupName="repeatOptions">
          <div class="inline-group">
            <label for="frequency">Frequency:</label>
            <select id="frequency" formControlName="frequency" required>
              <option *ngFor="let option of frequencyOptions" [value]="option.value">{{ option.label }}</option>
            </select>
          </div>
          <div class="inline-group">
            <input type="checkbox" id="repeat-always" formControlName="always">
            <label for="repeat-always" class="checkbox-label">Always</label>
          </div>
          <div class="inline-group" *ngIf="!eventForm.get('repeatOptions.always')?.value">
            <label for="times">Times:</label>
            <input type="number" id="times" formControlName="times" required>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="inline-group">
        <label for="location">Location:</label>
        <input type="text" id="location" formControlName="location" required>
      </div>
    </div>

    <div class="form-group">
      <div class="inline-group">
        <label for="category">Category:</label>
        <select id="category" formControlName="category" required>
          <option value="" disabled selected>Please choose a category</option>
          <option value="WORK">Work</option>
          <option value="PERSONAL">Personal</option>
          <option value="FAMILY">Family</option>
          <option value="HEALTH">Health</option>
          <option value="EDUCATION">Education</option>
          <option value="FINANCE">Finance</option>
          <option value="SOCIAL">Social</option>
          <option value="TRAVEL">Travel</option>
          <option value="ENTERTAINMENT">Entertainment</option>
          <option value="SPORTS">Sports</option>
          <option value="MEETING">Meeting</option>
          <option value="HOLIDAY">Holiday</option>
          <option value="APPOINTMENT">Appointment</option>
          <option value="REMINDER">Reminder</option>
          <option value="SHOPPING">Shopping</option>
          <option value="OTHER">Other</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <div class="inline-group">
        <label for="description">Description:</label>
        <textarea id="description" formControlName="description" required></textarea>
      </div>
    </div>

    <div class="form-group">
      <div class="inline-group">
        <div formArrayName="alarms">
          <button id="add-alarm" type="button" (click)="addAlarm()">Add Alarm</button>
          <div *ngFor="let alarm of alarms.controls; let i = index" [formGroupName]="i" class="alarm-group">
            <label for="time-{{i}}" class="alarm-label">Time:</label>
            <input type="text" id="time-{{i}}" formControlName="time" class="alarm-input">
            <label for="unit-{{i}}" class="alarm-label">Unit:</label>
            <select id="unit-{{i}}" formControlName="unit" class="alarm-input">
              <option *ngFor="let unit of alarmUnits" [value]="unit">{{ unit }}</option>
            </select>
            <button id="remove-alarm" type="button" (click)="removeAlarm(i)" class="remove-alarm">Remove</button>
          </div>
        </div>
      </div>
    </div>

    <button type="submit" style="cursor: pointer" [disabled]="!eventForm.valid">Create Event</button>
  </form>
</div>
</div>
