<div class="popup">
  <div class="popup-content">
    <h2 class="task-title">Event Creation Error</h2>
    <div class="task-section">
      <p class="task-section-content">Unable to create event due to conflicts</p>
    </div>
    <div class="task-section">
      <h3 class="task-section-title">Conflicting Events</h3>
      <ul class="event-list">
        <li class="task-section-content">
          {{newEvent}}
        </li>
        <li *ngFor="let event of flexibleEvents" class="task-section-content">
          {{ event.name }}
        </li>
      </ul>
    </div>
    <div class="button-container">
      <button (click)="onChangeClicked()" class="edit-task-button">Change to Absolute</button>
      <button (click)="onCancelClicked()" class="delete-task-button">Cancel</button>
    </div>
  </div>
</div>
