<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header text-center">
          <h2>Register</h2>
        </div>
        <div class="card-body">
          <form [formGroup]="registerForm" (submit)="onSubmit()">
            <div class="form-group">
              <label>Username</label>
              <input type="text" formControlName="name" class="form-control" placeholder="Enter username" />
            </div>
            <div class="form-group">
              <label>Email</label>
              <input type="text" formControlName="email" class="form-control" placeholder="Enter email" />
            </div>
            <div class="form-group">
              <div><label>Password</label></div>
              <div class="password">
                <input [type]="showPassword ? 'text' : 'password'" formControlName="password" class="form-control" placeholder="Enter password" />
                <i class="fa fa-eye password-icon" (click)="showPassword = !showPassword" [ngClass]="{'fa-eye-slash': showPassword, 'fa-eye': !showPassword}"></i>
              </div>
            </div>
            <div class="form-group">
              <div><label>Confirm Password</label></div>
              <div class="password">
                <input [type]="showPassword ? 'text' : 'password'" formControlName="confirmPassword" class="form-control" placeholder="Confirm password" />
                <i class="fa fa-eye password-icon" (click)="showPassword = !showPassword" [ngClass]="{'fa-eye-slash': showPassword, 'fa-eye': !showPassword}"></i>
              </div>
            </div>
            <div class="form-group">
              <button type="submit" [disabled]="loading" class="btn btn-primary btn-block">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Register
              </button>
            </div>
            <ng-container *ngIf="displayMessage">
              <div class="alert alert-danger" role="alert">
                {{displayMessage}}
              </div>
            </ng-container>

            <p class="have-user">Already have a user? <a class="login-link" routerLink="/login">Login here</a></p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
