<div class="popup" *ngIf="showPopup">
  <div class="popup-content">
    <div class="whole-day-tasks" *ngIf="showPopup">
      <h2>Whole Day Tasks</h2>
      <div *ngFor="let task of tasks">
        <div *ngIf="isWholeDayTask(task)" class="task"
             (click)="selectTask(task)"
             [style.background-color]="getColorForCategory(task.category)"
             [style.border-left]="'4px solid ' + getBorderColorForCategory(task.category)">
          <div class="task-title">{{task.name}}</div>
          <div class="task-description">{{task.description}}</div>
        </div>
      </div>
    </div>

    <div class="timeline-container" #timelineContainer>
      <div class="timeline">
        <ng-container *ngFor="let timeObj of times; let i = index">
          <div>
            <span class="time time-style" [class.current-time]="isCloseToCurrentTime(timeObj.time)">{{ timeObj.displayTime }}</span>
            <span class="line" [class.current-time]="isCloseToCurrentTime(timeObj.time)"></span>
            <ng-container *ngFor="let task of tasks">
              <div *ngIf="isTaskInTimeRange(task, timeObj.time) && !isWholeDayTask(task)" class="task"
                   (click)="selectTask(task)"
                   [style.top.px]="calculateTaskTop(task, timeObj.time)"
                   [style.height.px]="calculateTaskHeight(task)"
                   [style.width]="calculateTaskWidthAndPosition(task, tasks).width"
                   [style.left]="calculateTaskWidthAndPosition(task, tasks).left"
                   [style.background-color]="getColorForCategory(task.category)"
                   [style.border-left]="'4px solid ' + getBorderColorForCategory(task.category)">
                <div class="task-title">{{task.name}}</div>
                <div class="task-description">{{task.description}}</div>
              </div>
            </ng-container>
          </div>
        </ng-container>
      </div>
    </div>
    <button class="close-task-button" (click)="closePopup()"></button>
  </div>
</div>

<div *ngIf="selectedTask">
  <app-task-detail [task]="selectedTask" (close)="closeTaskDetail()"></app-task-detail>
</div>

